<main>
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->
  <header class="max-width--huge">
    <h1>Platzi Music Style Guide</h1>
  </header>  
  <section>
    <h2>Botones</h2>
    <input type="submit">
  </section>
  <section>
    <h2>Tipografia</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti numquam, reiciendis voluptates molestiae veritatis, provident sint praesentium quasi doloremque, sunt omnis sapiente error iure. Sapiente dicta autem recusandae dolorum facilis?</p>
  </section>
</main>