.app-class .mat-list-item {
  height: auto;
  text-align:center;
}

.container{
    text-align:center;
    overflow-y: auto;
    height: 500px;
    padding: 20px;
    margin: 100px;
    border: 10px solid lightgray;
}
