.app-class .mat-list-item {
  height: auto;
}

.container{
    text-align:center;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    height: 400px;
    width: 200px;
    border-bottom: 16px solid lightgray;
    border-top: 16px solid lightgray;
    border-left: 16px solid lightgray;
    padding: 10px;
}

.total {
    display: inline-block;
    margin: 10px;
}
