<!-- <mat-list class="app-class">
    <mat-list-item *ngFor="let product of products">
        <product [product]="product" [isInAOrder]="true" (click)="detachFromOrder(product)"></product>
    </mat-list-item>
</mat-list> -->

<!-- 
<div class="container">
    <div *ngFor= "let product of products"> 
        <div  id="element">
        <product [product]="product" [isInAOrder]="true" ></product>
        </div>
    </div>
</div>
<div>
    <p>Total: {{calculateTotalAmount()}}</p>
</div> -->
<div class="container">
    <mat-list class="app-class">
        <mat-list-item *ngFor="let product of products">
            <product [product]="product" [isInAOrder]="true" (click)="detachFromOrder(product)"></product>
        </mat-list-item>
    </mat-list>
</div>
<div>
    <p>Total: {{calculateTotalAmount()}} Bs.</p>
    <button mat-raised-button color="primary">Registrar</button>
</div>